body {
	background: #F5F5F5;
	color: #3b3b41;
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.navbar {
	margin-bottom: 40px;
}

	#sidebar-left {
		background: transparent;
		margin: -1px 0px 0px 25px;
		padding-top: 0px;
	}

.sidebar-nav > ul{
	margin: 0px 0px 0px 0px;
	border-top: 1px solid transparent;
  	border-bottom: 1px solid transparent;
	border-left: none;
	border-right: none;
	padding-bottom: 1px;
	text-align: center !important;
	font-size: 10px;
}

.sidebar-nav > ul > li > ul {
	list-style: none;
	margin: 0px 0px 0px 0px;
	display: none;
}

.nav-tabs.nav-stacked > li > a,
.nav-tabs.nav-stacked > li > ul > li > a {
  	margin: 1px 0px 0px 0px;
	padding: 15px 0px;
	color: #aaa;
	text-shadow: 0px 1px 0px #fff;
	border-top: 1px solid transparent;
  	border-bottom: 1px solid transparent;
	border-left: none;
	border-right: none;
  	background: transparent;
  	-webkit-border-radius: 0px;
       -moz-border-radius: 0px;
          	border-radius: 0px;
	text-decoration: none;		
}

.nav-tabs.nav-stacked > li > ul > li {
	padding: 5px 0px;
}

.nav-tabs.nav-stacked > li > a > i,
.nav-tabs.nav-stacked > li > ul > li > a > i {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	font-size: 22px;
	display: inline-block;
	width: 100%;
}

.nav-tabs.nav-stacked > li > ul > li > a > i {
	font-size: 20px;
}

.nav-tabs.nav-stacked > li > a:hover > i {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.nav-tabs.nav-stacked > li > a:hover {
  	margin: 1px 0px 0px 0px;
	border-top: 1px solid transparent;
  	border-bottom: 1px solid transparent;
	border-left: none;
	border-right: none;
  	color: #666;
  	background: transparent;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	   		box-shadow: none;
  	-webkit-border-radius: 0px;
       -moz-border-radius: 0px;
          	border-radius: 0px;
}

.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > ul > li > a:hover {
  	margin: 1px 0px 0px 0px;
	border-top: 1px solid transparent;
  	border-bottom: 1px solid transparent;
	border-left: none;
	border-right: none;
  	color: #666;
  	background: transparent;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	   		box-shadow: none;
  	-webkit-border-radius: 0px;
       -moz-border-radius: 0px;
          	border-radius: 0px;
}

.nav-tabs.nav-stacked  > li.active > a {
	margin: 1px 0px 0px 0px;
  	border: 2px solid #eee;
	border-right: none;
  	color: #3b3b41;
  	background: #fff;
	-webkit-border-radius: 5px 0px 0px 5px !important;
       -moz-border-radius: 5px 0px 0px 5px !important;
          	border-radius: 5px 0px 0px 5px !important;
	position: relative;
	z-index: 20;
}

.nav-tabs.nav-stacked  > li.active > ul {
	margin:-4px 0px 0px 0px;
  	border: 2px solid #eee;
	padding: 5px 0px;
	border-top: none;
	border-right: none;
  	color: #3b3b41;
  	background: #fff;
	-webkit-border-radius: 0px 0px 0px 5px !important;
       -moz-border-radius: 0px 0px 0px 5px !important;
          	border-radius: 0px 0px 0px 5px !important;
	position: relative;
	z-index: 21;
}

.nav-tabs.nav-stacked > li:first-child > a {
	margin: 0px 0px 0px 0px;
  	-webkit-border-radius: 0px;
       -moz-border-radius: 0px;
          	border-radius: 0px;
}

.nav-tabs.nav-stacked > li:last-child > a {
  	-webkit-border-radius: 0px;
       -moz-border-radius: 0px;
          	border-radius: 0px;
}

#content {
	background: #ffffff;
	filter: none;
	min-height: 100%;
	padding: 20px 20px;
	-webkit-border-radius: 0px 5px 5px 5px;
       -moz-border-radius: 0px 5px 5px 5px;
          	border-radius: 0px 5px 5px 5px;
	border: 2px solid #eee;
	position: relative;
}
#content {
		padding: 20px;
		margin-left: -2px;
	}
.box {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.main a {
	color: #333;
	text-decoration:none;
}

.main .title h4{
	float: left;
	vertical-align:middle;
	line-height: 26px;
}

.main .title input {
	margin-top: 10px;
}

.nav-type {
  margin-top: 10px;
  margin-bottom: 10px;
}

