<!doctype html>
<html>
<head>
	<title>Znote</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--CSS-->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/admin_style.css">
	<link rel="shortcut icon" href="/static/image/favicon.png" type="image/png">
</head>
<body>
	<header class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Znote</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/admin">首页</a></li>
              <li><a href="/admin/write">撰写</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </header>
    <div class="container">
		{% block container %} {% end %}
    </div>
</body>
</html>
