{% extends "admin_base.html" %}
{% block container %}
<div class="row-fluid">
  <div class="span6">
    <h2>所有文章</h2>
    <ul class="list">
    {% for article in articles %}
      <li id="{{article.id}}">
        <span class="hidden-phone span2 from">
        {%if article.category %}
          {{article.category.name}}
        {%else%}
          未分类
        {%end if%}
        </span>
        <span class="title span8">
          {% if article.status == "draft" %}
            <span class="label label-warning">草稿</span>
          {% end if %}
          {{article.title}}
        </span>
        <span class="hidden-phone span2 date">{{article.modified.strftime('%m/%d/%Y')}}</span> 
      </li>
    {% end for %}
    </ul>
  </div>
</div>

<div id="query" class="modal hide" tabindex="-1" role="dialog" data-backdrop="false">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>过滤条件</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" action="/admin" method="get" accept-charset="UTF-8">
      <div class="control-group">
        <label class="control-label">状态</label>
        <div class="controls">
          <select id="status" name="status">
            <option value="all">全部</option>
            <option value="publish">已发布</option>
            <option value="draft">草稿</option>
            <option value="page">页面</option>
            <option value="trash">回收站</option>
          </select>
        </div>
      </div>
    </ul>
      <div class="control-group">
        <label class="control-label">分类</label>
        <div class="controls">
          <select id="category" name="category">
            <option value="all">全部分类</option>
            {% for c in api.get_categories() %}     
            <option value={{c.id}}>{{c.name}}</option>
            {% end for %}
            <option value="none">未分类</option>
          </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">排序方式</label>
        <div class="controls">
          <select id="order_by" name="order_by">
            <option value="default">默认排序</option>
            <option value="create">最新撰写</option>
            <option value="modify">最新修改</option>
            <option value="view">最多阅读</option>
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
      <button type="submit" class="btn btn-primary">过滤</button>
    </div>
    <script>
        {% if status %}
          document.getElementById("status").value="{{status}}";
        {% end if %}
        {% if category %}
          document.getElementById("category").value="{{category}}";
        {% end if %}
        {% if order_by %}
          document.getElementById("order_by").value="{{order_by}}";
        {% end if %}
    </script>
  </form>
</div>
{% end %}
