{% extends "admin_base.html" %}
{% block container %}
<div class="row-fluid">
        <div class="span2">
          <ul class="nav nav-pills nav-stacked nav-type">
            <li class="active"><a href="#">已发布</a></li>
            <li><a href="#">草稿</a></li>
            <li><a href="#">页面</a></li>
            <li><a href="#">回收站</a></li>
          </ul>
        </div>
        <div class="span10">
          <div class="btn-toolbar">
            <div class="btn-group">
              <a href="#" class="btn btn-primary"><i class="icon-pencil icon-white"></i>撰写</a>
            </div>
            <div class="btn-group pull-right">
              <button class="btn dropdown-toggle" data-toggle="dropdown">排序方式 <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">最后发布</a></li>
                <li><a href="#">最后修改</a></li>
                <li><a href="#">最多访问</a></li>
              </ul>
            </div>
            <div class="btn-group pull-right">
              <button class="btn dropdown-toggle" data-toggle="dropdown">所有分类 <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">分类一</a></li>
                <li><a href="#">分类二</a></li>
                <li><a href="#">分类三</a></li>
                <li class="divider"></li>
                <li><a href="#">未分类</a></li>
              </ul>
            </div>
          </div>
          <table class="table table-hover main">
            <tbody>
            {% for article in articles %}
              <tr id="{{article.id}}"> 
                <td class="span1"><span class="badge">{{article.view_count}}</span></td>
                <td>
                  <a href="/admin/write?id={{article.id}}"><i class="icon-file"></i> {{article.title}}</a>
                  <span class="pull-right visible-desktop">
                    <a href="#"><i class="icon-edit"></i> 编辑</a>
                    <a href="#"><i class="icon-remove"></i> 删除</a>
                  </span>
                </td>
                <td class="span1"><span class="label label-info">生活</span></td>
                <td class="span2">{{article.modified.strftime('%b %d %Y')}}</td> 
              </tr>
              {% end for %}
            </tbody>
          </table>
		    </div>
      </div>
{% end %}
