{% extends "admin_base.html" %}
{% block container %}

<div class="row-fluid">
	<input type="text" class="title input-xxlarge" placeholder="无标题"/>
	<div class="pull-right">
		<span class="buttons"><a href="#" >保存</a></span>
		<span class="buttons"><a href="#"> 发布</a></span>
	</div>
</div>
<div class="row-fluid">
  	<div id="post-content" class="span12">{% if article %}{{article.content}}{% end if %}</div>
</div>
<script src="/static/js/ace/ace.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		var editor = ace.edit("post-content");
		editor.setTheme("ace/theme/textmate");
		editor.getSession().setMode("ace/mode/markdown");
		editor.getSession().setUseWrapMode(true);
		editor.renderer.setShowGutter(false);
		editor.setShowPrintMargin(false);
		editor.setFontSize(16);
		window.editor = editor;
	});
</script>
{% end %}
