{% extends "admin_base.html" %}
{% block container %}

<div class="row-fluid">
  	<input class="input-xlarge" type="text" placeholder="标题"/>
  	<div id="post-content">{% if article %}{{article.content}}{% end if %}</div>
	<select class="span3">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
	<div class="form-actions">
      <button type="submit" class="btn btn-primary">Save changes</button>
	  <button type="reset" class="btn">Cancel</button>
	</div>
</div>
<script src="/static/js/ace/ace.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		var editor = ace.edit("post-content");
		editor.setTheme("ace/theme/textmate");
		editor.getSession().setMode("ace/mode/markdown");
		editor.getSession().setUseWrapMode(true);
		editor.renderer.setShowGutter(true);
		editor.setShowPrintMargin(false);
		editor.setFontSize(16);
		window.editor = editor;
	});
</script>
{% end %}
